[submodule "zsh/.config/zsh/.oh-my-zsh"]
	path = zsh/.config/zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "nvim/.config/nvim/sneaps"]
	path = nvim/.config/nvim/sneaps
	url = https://github.com/rafamadriz/friendly-snippets
	shallow = true
[submodule "zsh/.config/zsh/oh-my-zsh-custom/plugins/bol"]
	path = zsh/.config/zsh/oh-my-zsh-custom/plugins/bol
	url = https://github.com/ikhurramraza/bol
[submodule "zsh/.config/zsh/oh-my-zsh-custom/themes/powerlevel10k"]
	path = zsh/.config/zsh/oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
