{{- $key := index (dict "breathe" "Breathe" "cov" "Cov" "doctolib" "Doctolib" "dort" "Dort" "personal" "WSL") .profile -}}
{{ onepasswordRead (printf "op://Dev/%s/public key" $key) | replaceAllRegex "\r" "" | trim }} ikhurramraza+{{ lower $key }}@gmail.com
