{{ onepasswordRead "op://Dev/Breathe/public key" | replaceAllRegex "\r" "" | trim }} ikhurramraza+breathe@gmail.com
{{ onepasswordRead "op://Dev/Cov/public key" | replaceAllRegex "\r" "" | trim }} ikhurramraza+cov@gmail.com
{{ onepasswordRead "op://Dev/Doctolib/public key" | replaceAllRegex "\r" "" | trim }} ikhurramraza+doctolib@gmail.com
{{ onepasswordRead "op://Dev/Dort/public key" | replaceAllRegex "\r" "" | trim }} ikhurramraza+dort@gmail.com
{{ onepasswordRead "op://Dev/WSL/public key" | replaceAllRegex "\r" "" | trim }} ikhurramraza+wsl@gmail.com
